@font-face {
  font-family: "강원교육모두";
  src: url("/assets/fonts/ganwon-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "강원교육모두";
  src: url("/assets/fonts/ganwon-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}
